<div id="nav_search" class="nav_container searchServiceRequest" ng-controller="searchSrqFormController">
    <div id="ServiceRequest-form" class="input-form">
        <form class="form" role="form" id="ServiceRequestForm" 
              name="ServiceRequestForm">
            <fieldset>
            <legend>Search Service Request</legend>
                <ul>
                    <li>
                        <label for="new_wrq">Work Request</label>
                        <select name="new_wrq" id="search_wrq"  
                                ng-model="searchSrqForm.wrq" required
                                ng-options="WrqCode.Wrq as WrqCode.Descr for WrqCode in searchSrqController.WrqCodes">

                        </select>
                        <label for="search_wrq" class="error"></label>
                    </li>
                </ul>
            </fieldset>
            
        </form>
    </div>
</div>
